.section-advantages {
    padding-top: 60px;
    padding-bottom: 94px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: $primaryBackgroundColor;
  }

  .advantage-list{
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    

    @media screen and (min-width:768px) {
      .advantage-list {
        display: flex;
        flex-wrap: wrap;
        width: 768px;
        padding: 0;

        &__box {
          width: calc((100% - 4 * 15px) / 2);
          margin: 15px;
        }
        &__icon-box {
          width: 354px;
        }
      }
      
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $titleTextColor;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
     }

     &__icon-box {
        display: block;
        text-align: center;
        align-items: center;
        width: 450px;
        height: 120px;
        background-color: rgba(245, 244, 250, 1);
        margin-bottom: 30px;
        padding-top: 25px;
      }

      &__text {
          margin-top: 30px;
          margin-bottom: 0;
      }

      &__box {
          margin-top: 10px;

          &:first-child {
            margin-top: 0;
      }
    }
  }