body {
    background-color: $primaryBackgroundColor;
    color: $primaryTextColor;
  
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
  }